
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>sign in</title>
</head>
<body>
    <div class="main-login">
        <div class="logo">
            <img src="{% static 'media/logo_texto.png' %}" alt="">
        </div>
        
        <div class="form card-login">
            <h1>sign in</h1>
            <form method="post">
                {% csrf_token %}
    
                <div class="textfield">
                    <label for="{{ form.first_name.id_for_label }}">NOME</label>
                    <input type="text" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" placeholder="Nome">
                    {% if form.first_name.errors %}
                    <h6>{{form.first_name.errors}}</h6>
                    {% endif %}
                </div>

                <div class="textfield">
             
                    <label for="{{ form.last_name.id_for_label }}">SOBRENOME</label>
                    <input type="text" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" placeholder="Sobrenome">
                    {% if form.last_name.errors %}
                    <h6>{{form.last_name.errors}}</h6>
                    {% endif %}
                </div>

                <div class="textfield">
                    <label for="{{ form.username.id_for_label }}">USUÁRIO</label>
                    <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Nome de Usuário">
                    {% if form.username.errors %}
                    <h6>{{form.username.errors}}</h6>
                    {% endif %}
                </div>

                <div class="textfield">
                    <label for="{{ form.email.id_for_label }}">EMAIL</label>
                    <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="E-mail">
                    {% if form.email.errors %}
                    <h6>{{form.email.errors}}</h6>
                    {% endif %}
                </div>

                <div class="textfield">
                    <label for="{{ form.password1.id_for_label }}">SENHA</label>
                    <input type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Senha">
                    {% if form.password1.errors %}
                    <h6>{{form.password1.errors}}</h6>
                    {% endif %}
                </div>

                <div class="textfield">
                    <label for="{{ form.password2.id_for_label }}">CONFIRME A SENHA</label>
                    <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Confirme a senha">
                    {% if form.password2.errors %}
                    <h6>{{form.password2.errors}}</h6>
                    {% endif %}
                </div>
                <div class="link-register">
                    <h6>Já tem uma conta? <a href="{% url 'auth:user_login' %}">Faça login aqui</a></h6>
                </div>
                
                <input class="btn-login" type="submit" value="sign in">
            </form>

        </div>
    </div>
    
</body>
</html>

