
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>login</title>
</head>
<body>
    <div class="main-login">
        <div class="logo">
            <img src="{% static 'media/logo_texto.png' %}" alt="">
        </div>
        <div class="form">
            <form method="post" class="card-login">
                {% csrf_token %}
                <h1>login</h1>
                <div class="textfield">

                    <label for="user">USUÁRIO</label>
                    <input type="text" name="user" placeholder="Usuário" {% if errors %} value="{{username}}" {% endif %}>
                </div>
                <div class="textfield">
             
                    <label for="senha">SENHA</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div class="link-register">
                <h6>Não tem uma conta? <a href="{% url 'auth:register' %}">Registre-se aqui</a></h6>
                </div>
                
                <input class="btn-login" type="submit" value="login">
                {% if errors %}
                <div class="errors">
                    <h6>{{errors}}</h6>
                </div>
                
                {% endif %}
            </form>
        </div>
    </div>
    
</body>
</html>

