{% extends "index.html" %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>

<body>

    <div class="image-container">
        <img class="image" src="{{ image.url }}" alt="Image">
        <div class="like-button">
            <i id="like-heart" class="far fa-heart {% if is_liked %}fas{% endif %}"></i>
        </div>
        
        <form method="post">
            {% csrf_token %}
            <div class="type-comment">
                <input type="text" placeholder="Faça um comentário" name="comment-field" id="comment-field" class="comment-field">
                <span id="charCountMessage" style="color: red;" class="error-message"></span>
                <button type="submit" id="submitBtn" disabled class="button-comment">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 12l-20 12 5-12-5-12z"/></svg>
                </button>
            </div>
        </form>

        <div id="comments" class="comments">
            {% if not comments %}
            <div>
                <h1>Nenhum comentário</h1>
            </div>
            {% else %}
            {% for comment in comments %}
            <div class="comment">
                <strong>{{comment.user.username}} </strong>{{comment.text}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    
    $(document).ready(function() {
        const likeButton = document.getElementById("like-heart");
        let isLiked = likeButton.classList.contains("fas");
        const image_id = "{{ image_id }}";
        const csrfToken = "{{ csrf_token }}";
    
        likeButton.addEventListener("click", () => {
            $.ajax({
                url: `/image/like/${image_id}/`,
                type: 'POST',
                headers: {
                    "X-CSRFToken": csrfToken, // Inclua o token CSRF no cabeçalho da solicitação
                },
        success: function(data) {
            console.log(data);
        },
    });
            isLiked = !isLiked;
            if (isLiked) {
                likeButton.classList.remove("far");
                likeButton.classList.add("fas");
            } else {
                likeButton.classList.remove("fas");
                likeButton.classList.add("far");
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var commentInput = document.getElementById("comment-field");
        var submitBtn = document.getElementById("submitBtn");
        var charCountMessage = document.getElementById("charCountMessage");
        var charLimit = 70 // Defina aqui o limite de caracteres desejado.

        commentInput.addEventListener("input", function() {
            var comment = commentInput.value;
            if (comment.length > charLimit) {
                charCountMessage.textContent = "Limite de caracteres excedido.";
                submitBtn.setAttribute("disabled", "disabled");
            } else {
                charCountMessage.textContent = "";
                submitBtn.removeAttribute("disabled");
            }
        });
    });

</script>






    
</body>
</html>
{% endblock %}