{% extends "index.html" %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>

<body>
    <div class="background">
    <div class="image-container">
        <img class="image" src="{{ image.url }}" alt="Image">
        <div class="like-button">
            <i id="like-heart" class="far fa-heart {% if is_liked %}fas{% endif %}"></i>
        </div>
        
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="Faça um comentário" name="comment" id="">
            <input type="submit" value=">">
        </form>

        <div class="comments">
            {% for comment in comments %}
            <div class="comment">
                <strong>{{comment.user.username}} </strong>{{comment.text}}
            </div>
            {% endfor %}
        </div>
    </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    
    $(document).ready(function() {
        const likeButton = document.getElementById("like-heart");
        let isLiked = likeButton.classList.contains("fas");
        const image_id = "{{ image_id }}";
        const csrfToken = "{{ csrf_token }}";
    
        likeButton.addEventListener("click", () => {
            $.ajax({
                url: `/image/like/${image_id}/`,
                type: 'POST',
                headers: {
                    "X-CSRFToken": csrfToken, // Inclua o token CSRF no cabeçalho da solicitação
                },
        success: function(data) {
            console.log(data);
        },
    });
            isLiked = !isLiked;
            if (isLiked) {
                likeButton.classList.remove("far");
                likeButton.classList.add("fas");
            } else {
                likeButton.classList.remove("fas");
                likeButton.classList.add("far");
            }
        });
    });
</script>






    
</body>
</html>
{% endblock %}