{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo-navbar"><img src="{% static 'media/logo.png' %}" alt="logo" height="75" width="95"></a>
        
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Gallery</a>
            <a href="#">Profile</a>
        </nav>
    </header>
    <div id="block-content">
        {% block content %}{% endblock %}
    </div>
    

</body>
</html>