::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c22c4f;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(36, 12, 44, 1) 46%,
    rgba(33, 12, 41, 1) 100%
  );
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image-grid img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.image-grid img:hover {
  box-shadow: 0 0 32px #333;
}

.image-container {
  padding: 0 15px;
  align-self: center;
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #18091e;
  box-shadow: 3px 0px 37px -28px #c22c4f;
  -webkit-box-shadow: 3px 0px 37px -28px #c22c4f;
  -moz-box-shadow: 3px 0px 37px -28px #c22c4f;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px; /* A mesma borda arredondada para a imagem */
  opacity: 0.9; /* Ajuste a opacidade conforme necessário (0 a 1) */
  transition: opacity 0.3s; /* Adiciona uma transição suave */
}

.image-container img:hover {
  opacity: 3; /* Define a opacidade total ao passar o mouse */
}

.title-create {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.add-label {
  font-size: 20px;
}

.user-image {
  height: fit-content;
}
