::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c22c4f;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(36,12,44,1) 46%, rgba(33,12,41,1) 100%);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image-grid img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.image-grid img:hover {
  box-shadow: 0 0 32px #333;
}

.image-container {
  padding: 0 15px;
  align-self: center;
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 93vh;
  background-color: #18091e;
  box-shadow: 3px 0px 37px -28px #c22c4f;
  -webkit-box-shadow: 3px 0px 37px -28px #c22c4f;
  -moz-box-shadow: 3px 0px 37px -28px #c22c4f;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px; /* A mesma borda arredondada para a imagem */
  opacity: 0.9; /* Ajuste a opacidade conforme necessário (0 a 1) */
  transition: opacity 0.3s; /* Adiciona uma transição suave */
}

.image-container img:hover {
    opacity: 3; /* Define a opacidade total ao passar o mouse */
}

.title-create {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.add-label {
  font-size: 20px;
}

/* Estilos do botão "Like" */

#like-heart {
  color: white;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 20px;
  padding: 0.5em 0;
}

#like-heart.fas {
  color: #c22c4f;
}

/* Estilos da seção de comentários */
.comments {
  display: flex;
  flex: 1;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  max-height: 8em;
}

.comment {
  color: white;
  margin-bottom: 10px;
  line-break: anywhere;
}

.type-comment {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.comment-field {
  height: 100%;
  width: 100%;
  margin-right: 15px;
  background-color: #3d3d3d;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.comment-field::placeholder {
  color: white;
}

.button-comment {
  border: 1px solid #c22c4f;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #c22c4f;
  cursor: pointer;
}

.button-comment svg {
  fill: #c22c4f;
}

.button-comment:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
h1 {
  color: #646464;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.error-message {
  position: absolute;
  bottom: -20px;
}