.image-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

/* Estilos da imagem */
.image {
    max-width: 100%;
    height: auto;
}

/* Estilos do botão "Like" */


#like-heart {
    cursor: pointer;
    transition: color 0.3s; /* Adicione uma transição de cor de 0.3 segundos */
    font-size: 25px;
}

#like-heart.fas {
    color: red; /* Cor vermelha para o ícone preenchido */
}


/* Estilos da seção de comentários */
.comments {
    margin-top: 20px;
}

.comment {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
}
